<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.phonegap.plugins.video.videoplayer"
      version="0.0.1">
    <name>VideoPlayer</name>
    <description>Phonegap Video Player Plugin</description>
    <license>MIT</license>
    <keywords>cordova,phonegap,video,player,playback</keywords>

    <js-module src="www/VideoPlayer.js" name="VideoPlayer">
        <clobbers target="window.videoPlayer" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.phonegap.plugins.video.VideoPlayer"/>
            </feature>
        </config-file>

        <source-file src="src/android/VideoPlayer.java" target-dir="src/com/phonegap/plugins/video" />      
     
     </platform>
          
</plugin>
